.hologram {
    font-size: 30px !important;
    -webkit-text-stroke-width: 1px !important;
}

.textHolder h1 {
    line-height: 60px !important;
}

.landingGradient {
    background-image: url("/static/images/DemoBackground.jpg");
}

#demoPage {
    color: #eb4507;
}


