{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
<title>Orange Juice Hologram</title>
{% endblock %}

{% block body %}
<script>
   
       /* $("a[href='#content']").click(function() {
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#contentAbout").offset().top
            }, 1000);
        });*/
    function scrollToAnchor(anchor) {
	// cgi_escape causes problems with multiple word tags which are combined with '+' symbols
	// the following line resolves this by escaping + symbols
	anchor = anchor.replace('+', '\\+');
    var scrollTo = $('#' + anchor);
    $('html,body').animate({scrollTop: scrollTo.offset().top},'slow');
}
   
</script>
<div class = "landingGradient">
    <div class = "landing">
        <div class = "titleHolder">
            <div class = "textHolder">
                <h1>About</h1>
                <h1 class = "hologram">How It Works</h1>
            </div>
        </div>
        <div class="container">
          <a href="#contentAbout" onclick="scrollToAnchor('contentAbout')">
            <div id = "arrow" class="arrow"></div>
          </a>
        </div>
        
        <!-- add arrow if possible -->
    </div>
</div>
<div id = "contentAbout" class = "aboutSection">
    <div class = "textPart">
        <h2>Background</h2>
        <p>COVID-19 has forced students like ourselves to adjust to an unprecedented online learning environment. The proximity and density of university classes is <a href="https://www.nytimes.com/interactive/2020/07/28/us/covid-19-colleges-universities.html" target="_blank">highly conducive</a> to the spread of a deadly pandemic; virtual learning has already become, and will be, the norm for the foreseeable future. If the return of in-person instruction is nowhere in sight, our objective should then be to optimize our virtual learning experience as much as possible.</p>
        <p>Our project transforms a video so that it can be reflected onto a <a href="https://en.wikipedia.org/wiki/Pepper%27s_ghost" target="_blank">Pepper's Cone</a>, creating a lifelike three-dimensional display on top of your laptop/tablet screen. Our first Pepper's Cone was created from a used orange juice bottle - hence the namesake, Orange Juice Hologram.</p>
        <h2>Implementation</h2>
        <p>Our application is hosted on <a href="https://cloud.google.com/appengine" target="_blank">Google App Engine</a> and uses the <a href="https://flask.palletsprojects.com/en/1.1.x/" target="_blank">Flask</a> web application framework. Our frontend is written in HTML and CSS. Our backend is written in Python with the support of various libraries including <a href="https://zulko.github.io/moviepy/index.html" target="_blank">MoviePy</a>, <a href="https://opencv.org/" target="_blank">OpenCV</a>, <a href="https://pytorch.org/" target="_blank">PyTorch</a>, <a href="https://matplotlib.org/" target="_blank">Matplotlib</a>, and <a href="https://pillow.readthedocs.io/en/stable/" target="_blank">PIL</a>.</p>
        <h2>Credits</h2>
        <p>Created by Arthur Liu, Esther Liu, Daniel Zhu, and Jake Jung</p>
    </div>
    <div class = "vidHolder">
        <video muted controls>
            <!--<source src = "LandingVideoEdited1.mp4" type = "video/mp4">-->
            <source src = "/static/videos/testvideo.mp4" type = "video/mp4">
        </video>
    </div>
</div>
{% endblock %}


