{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">
<title>Orange Juice Hologram</title>
{% endblock %}

{% block body %}
<div class = "landingGradient">
    <div class = "landing">
        <div class = "titleHolder">
            <div class = "textHolder">
                <h1>Demo</h1>
                <h1 class = "hologram">Try It Out</h1>
            </div>
            <!--<div class = "learnMoreContainer">
               <a href = "#" class="learnMoreButton"><button>Upload Video</button></a>
               <a href = "#" class="learnMoreButton"><button>Download Video</button></a>
            </div>-->

            <form class = "form" action="/demo" method="POST" enctype="multipart/form-data">
                <!--<label>Select Video</label>-->
                <div class="demo-submission-buttons-container">
                    <div class="custom-file">
                    <input class = "learnMoreButton" oninput="filesize(this)" type="file" name="video" id="video">
                    <!--<label for="video">Select video...</label>-->
                    </div>
                    <div class = "learnMoreButton2">
                        <button type="submit" onclick="loading()">Upload image</button>
                    </div>
                </div>
                <div id="loading">
                    <div>Big ugly loading bar sorry :C, Esther went to bed</div>
                    <img src="/static/images/loading.gif" alt="Loading">
                </div>
            </form>
            {% if video_loc is defined %}
            <div>Scroll down to see video!</div>
            <div id="arrow" class="arrow"></div>
            {% endif %}
        </div>
    </div>
</div>
{% if video_loc is defined %}
{{ video_loc }}
<div class="demoHolder">
    <video class="demoVideo" muted controls>
        <source src = "{{ video_loc }}" type = "video/mp4">
    </video>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script type="text/javascript">
    function loading () {
        console.log('show loading bar')
        document.getElementById("loading").style.display = "block";
    }
</script>
{% endblock %}