{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">HEYO</h1>
    <!-- {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %} -->
    <ul>
        {% for task in tasks %}
            <li>
                <h4>{% task.name %}</h4>
                <p>
                    {% task.detail %}
                </p>
            </li>
        {% endfor %}
    </ul>
    <!-- {% endif %} -->


</div>
{% endblock %}