{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class = "landingGradient">
    <div class = "landing">
        <div class = "titleHolder">
            <div class = "textHolder">
                <h1>Orange Juice</h1>
                <h1 class = "hologram">Hologram</h1>
                <h2>3D Screen Effects</h2>
            </div>
            <div class = "learnMoreContainer">
               <a href = "#" class="learnMoreButton"><button>Check Out the Demo &rarr;</button></a>
            </div>
        </div>
    </div>
</div>
<!--<div class="content">
    <h1 style="text-align: center">HEYO</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
    <ul>
        {{ tasks }}
        {% for task in tasks %}
            <li>
                <h4>{{ task.name }}</h4>
                <p>
                    {{ task.detail }}
                </p>
            </li>
        {% endfor %}
    </ul>
    {% endif %}


</div>-->
{% endblock %}